.categories__container {
  margin-top: 3vh;
}
.categories__container h4 {
  margin-left: 2vw;
  color: #d62929bb;
}
.categories__container h2 {
  margin-left: 2vw;
  color: #202020;
}
.categories__list {
  margin-top: 1vh;
  display: flex;
  padding: 1rem;
  overflow-x: scroll;
}

.categories__list::-webkit-scrollbar {
  height: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}

.categories__list::-webkit-scrollbar-thumb {
  background: #d6292994;
  border-radius: 10px;
}

.categories__results {
  display: flex;
}
